<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.novice.user.mapper.UserSQLMapper">	

	<select id="createUserPk" resultType="int">
		SELECT novice_user_seq.nextval FROM Dual
	</select>

	<insert id="insertUser">
		INSERT INTO novice_user VALUES(
			#{user_no},
			#{question_no},
			#{user_id},
			#{user_pw},
			#{user_nickname},
			#{user_gender},
			#{user_phone},
			#{user_email},
			#{user_findAnswer},
			#{user_birth},
			SYSDATE,
			'active'
		)
	</insert>
	
	<select id="selectById" resultType="int">
		SELECT count(*) FROM novice_user WHERE user_id = #{user_id}
	</select>
	
	<select id="selectByNickName" resultType="int">
		SELECT count(*) FROM novice_user WHERE user_nickname = #{user_nickname}		
	</select>
	
	<select id="selectByPhoneNumber" resultType="int">
		SELECT count(*) FROM novice_user WHERE user_phone = #{user_phone}
	</select>
	
	<select id="selectByEmail" resultType="int">
		SELECT count(*) FROM novice_user WHERE user_eamil = #{user_eamil}
	</select>
	
	<select id="getUserByIdAndPw" resultType="com.spring.novice.vo.UserVo">
		SELECT * FROM novice_user nu, novice_mail_auth nm WHERE nu.user_no = nm.user_no AND nu.user_id = #{user_id} AND nu.user_pw = #{user_pw} AND nm.mailauth_complete = 'Y'
	</select>
	
	<select id="getUserByNo" resultType="com.spring.novice.vo.UserVo">
		SELECT * FROM novice_user WHERE user_no = #{no}
	</select>
	
	<insert id="insertMailAuth">
		INSERT INTO novice_mail_auth VALUES(
			novice_mail_auth_seq.nextval,
			#{user_no},
			#{mailauth_key},
			'N',
			SYSDATE
		)
	</insert>
	
	<update id="updateMailAuthComplete">
		UPDATE novice_mail_auth SET mailauth_complete = 'Y' , mailauth_date = SYSDATE
		WHERE mailauth_key = #{authKey}
	</update>
	
	<select id="getJoinQuestionList" resultType="com.spring.novice.vo.QuestionVo">
		SELECT * FROM novice_find_question
	</select>
	
	<select id="getUserIdByNameAndEmail" resultType="map">
		SELECT user_id FROM novice_user WHERE user_nickname = #{user_nickname} AND user_email = #{user_email}
	</select>
	
	<select id="getUserQuestionById" resultType="map">	
		SELECT nf.question_content FROM novice_user nu, novice_find_question nf WHERE nu.question_no = nf.question_no AND nu.user_id = #{user_id}
	</select>
	
	<select id="getUserPwByfindAnswer" resultType="com.spring.novice.vo.UserVo">
    	SELECT * FROM novice_user WHERE user_findAnswer = #{user_findAnswer} AND user_id = #{user_id}
   </select>
   
   <update id="getUserUpdatePw">
   		UPDATE novice_user SET user_pw = #{user_pw} WHERE user_findAnswer = #{user_findAnswer} AND user_id = #{user_id}
	</update>
	
</mapper>