<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.novice.board.mapper.BoardSQLMapper">
	
	<select id="getBoardList" resultType="com.spring.novice.vo.BoardVo">
		SELECT * FROM novice_board ORDER BY board_no DESC
	</select>
	
	<insert id="insertBoard">
		INSERT INTO novice_board VALUES (
			novice_board_seq.nextval,
			#{user_no},
			#{board_title},
			#{board_content},
			#{board_secret},
			#{board_readcount},
			SYSDATE		
		)
	</insert>
	
</mapper>