<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.novice.board.mapper.BoardSQLMapper">
	
	<select id="createBoardPk" resultType="int">
		SELECT novice_board_seq.nextval FROM Dual
	</select>
	
	<select id="getBoardList" resultType="com.spring.novice.vo.BoardVo">
		SELECT * FROM novice_board ORDER BY board_no DESC
	</select>
	
	<insert id="insertBoard">
		INSERT INTO novice_board VALUES (
			#{board_no},
			#{user_no},
			#{board_title},
			#{board_content},
			#{board_secret},
			#{board_readcount},
			SYSDATE		
		)
	</insert>
	
	<select id="getBoardByNo" resultType="com.spring.novice.vo.BoardVo">
		SELECT * FROM novice_board WHERE board_no = #{board_no}
	</select>
	
	<update id="updateBoard">
		UPDATE novice_board SET board_title = #{board_title}, board_content = #{board_content} WHERE board_no = #{board_no}
	</update>
	
	<delete id="deleteContentPage">
		DELETE FROM novice_board WHERE board_no = #{board_no} 
	</delete>
	
	<insert id="insertReadPage">
		INSERT INTO novice_read_page VALUES (
			novice_read_page_seq.nextval,
			#{board_no},
			#{client_ip},
			SYSDATE
		)
	</insert>
	
	<select id="getReadPageList" resultType="com.spring.novice.vo.ReadPageVo">
		SELECT * FROM novice_read_page WHERE board_no = #{board_no}
	</select>
	
	<select id="selectByClientIp" resultType="int">
		SELECT count(*) FROM novice_read_page WHERE client_ip = #{client_ip}
	</select>
	
	<select id="selectByReadByBoardNo" resultType="int">
		SELECT count(*) FROM novice_read_page WHERE board_no = #{board_no}
	</select>
	
	<select id="selectByReadPage" resultType="int">
		SELECT count(*) FROM novice_read_page WHERE client_ip = #{client_ip} AND board_no = #{board_no}
	</select>
	
	<update id="increaseReadCount">
		UPDATE novice_board SET board_readcount = board_readcount + 1 WHERE board_no = #{board_no}			
	</update>	
	
	<update id="updateReadPage">
		UPDATE novice_read_page SET read_write_date = SYSDATE WHERE client_ip = #{client_ip} AND board_no = #{board_no}
	</update>
	
	<delete id="deleteReadPage">
		DELETE FROM novice_read_page WHERE board_no = #{board_no}
	</delete>
	
	<insert id="insertFile">
		INSERT INTO novice_file VALUES (
			novice_file_seq.nextval,
			#{board_no},
			#{org_file_name},
			#{stored_file_name},
			#{file_size},
			SYSDATE,
			'N'
		)
	</insert>
	
	<select id="selectFileList" resultType="com.spring.novice.vo.FileVo">
		SELECT * FROM novice_file WHERE board_no = #{board_no} AND file_del = 'N'
	</select>
	
	<select id="selectFileInfo" parameterType="HashMap" resultType="HashMap">
		SELECT org_file_name, stored_file_name, upload_write_date FROM novice_file WHERE file_no = #{file_no}
	</select>
	
	<delete id="deleteAllFile">
		DELETE FROM novice_file WHERE board_no = #{board_no}
	</delete>
	
	<update id="updateFile">
		UPDATE novice_file SET file_del = 'Y' WHERE file_no = #{file_no}
	</update>
	
	<select id="selectByTitle" resultType="com.spring.novice.vo.BoardVo">
		SELECT t2.* FROM (
			SELECT t1.* , ROWNUM AS rnum FROM (			
				SELECT nb.* FROM novice_board nb , novice_user nu 
				WHERE nb.user_no = nu.user_no AND nb.board_title LIKE '%' || #{title} || '%' ORDER BY nb.board_no DESC
			) t1
		) t2
	</select>
	
	<select id="selectByContent" resultType="com.spring.novice.vo.BoardVo">
		SELECT t2.* FROM (
			SELECT t1.* , ROWNUM AS rnum FROM (			
				SELECT nb.* FROM novice_board nb , novice_user nu 
				WHERE nb.user_no = nu.user_no AND nb.board_content  LIKE '%' || #{content} || '%' ORDER BY nb.board_no DESC
			) t1
		) t2
	</select>
	
	<select id="selectByNickName" resultType="com.spring.novice.vo.BoardVo">
		SELECT t2.* FROM (
			SELECT t1.* , ROWNUM AS rnum FROM (			
				SELECT nb.* FROM novice_board nb , novice_user nu 
				WHERE nb.user_no = nu.user_no AND nu.user_nickname LIKE '%' || #{user_nickname} || '%' ORDER BY nb.board_no DESC
			) t1
		) t2
	</select>
</mapper>