<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.novice.board.mapper.CommentSQLMapper">
	<insert id="insertComment">
		INSERT INTO novice_comment VALUES(
			novice_comment_seq.nextval,
			#{board_no},
			#{user_no},
			#{comment_content},
			SYSDATE
		)
	</insert>
	
	<select id="getCommentByList" resultType="com.spring.novice.vo.CommentVo">
		SELECT * FROM novice_comment WHERE board_no = #{board_no}
	</select>
	
	<select id="getCommentByNo" resultType="com.spring.novice.vo.CommentVo">
		SELECT * FROM novice_comment WHERE comment_no = #{comment_no}
	</select>
	
	<update id="updateComment">
		UPDATE novice_comment SET comment_content = #{comment_content} WHERE comment_no = #{comment_no}
	</update>
	
	<delete id="deleteComment">
		DELETE FROM novice_comment WHERE comment_no = #{comment_no}
	</delete>
	
	<delete id="deleteAllComment">
		DELETE FROM novice_comment WHERE board_no = #{board_no}
	</delete>
	
</mapper>